* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    min-height: 650px;
    padding-top: 20px;
    padding-bottom: 4px;
}
.nav-bar {
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
    display: flex;
}


.logo {
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    width: 20%;
    padding: .5rem;
}

.link {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

.link a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 0 15px;
}

.link a:hover {
    text-decoration: underline;
}

.login{
    text-align: right;
    width: 20%;
}

button{
    font-size: 16px;
    padding: .5rem .8rem;
    border: none;
    border-radius: 20px;
}
.login-bt:first-of-type{
    background-color: white;
    color: #000000;
}


.hero-section {
    max-width: 900px;
    min-height: 350px;
    margin: auto;
    padding: 50px;
    text-align: center;
}
.home-container{
    padding-top: 100px;
}
.hero-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    padding-bottom: 50px;
    color: white;
}

.hero-section p {
    color: white;
    font-size: 18px;
    line-height: 35px;
}

.home-buttons {
    margin-top: 25px;
}

.button{
    padding: .7rem 1rem;
    background-color: #7289DA;
    color: white;
}
.download-bt::before{
    content: "\2913";
    font-size: 16px;
    padding-right: .3rem;
}

.button:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 16px 29px -15px #000000;
    -moz-box-shadow: 0px 16px 29px -15px #000000;
    -o-box-shadow: 0px 16px 29px -15px #000000;
    box-shadow: 0px 16px 29px -15px #000000;
}
.big-button{
    margin: 0 15px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
}
.white-bt{
    background-color:white;
    color: black;
    
}
.white-bt:hover,.login-bt:hover{
    color: #4453E7;
    cursor: pointer;
    -webkit-box-shadow: 0px 16px 29px -15px #000000;
    -moz-box-shadow: 0px 16px 29px -15px #000000;
    -o-box-shadow: 0px 16px 29px -15px #000000;
    box-shadow: 0px 16px 29px -15px #000000;
}

.login-bt:nth-of-type(2){
    color: white;
    background-color: #23272A;

}

.login-bt:nth-child(2):hover {
    cursor: pointer;
    background-color: #323640;
    -webkit-box-shadow: 0px 16px 29px -21px #000000;
    -moz-box-shadow: 0px 16px 29px -21px #000000;
    -o-box-shadow: 0px 16px 29px -21px #000000;
    box-shadow: 0px 16px 29px -21px #000000;
}
.bgd-wave{
    min-height:50px;
    background-image: url('../img/wave.svg');
    filter: opacity(10%);
}
.bgd-wave:nth-of-type(2){
    rotate: 180deg;
}
section{
    padding: 35px;
}
section:nth-of-type(2),
section:last-of-type {
    background-color: #E5E5E5;;
}
.container{
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    display: flex;
}

.info-section img{
    background-repeat:no-repeat;
    background-size: cover;
    flex-grow: 1;
}


.description {
    padding: 4rem;
    align-self: center;
    color: #000000;
    width: 40%;
}
.description h2, .download-section h2{
    font-size: 45px;
}
.description p, .download-section p{
    padding-top: 2rem;
    line-height: 25px;
}

.download-section {
    flex-direction: column;
    min-height: 900px;
    color: #000000;
    text-align: center;
}
.download{
    width: 980px;
    margin: auto;
    text-align: center;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position:top;
}
.download h3{
    font-size: 25px;
    color: #000000;
    padding: 2rem;
}

footer {
    background-color: #323640;
    padding: 25px;
}

.footer-section {
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    border: 2px dashed rgb(255, 255, 255);
    display: flex;
}

.language-section {
    background-color: violet;
    display: flex;
    align-items: baseline;
    padding-top: 30px;
    flex-grow: 3;
}
.container{
    display: flex;
    width: 70%;
}
.list-container { 
    border: 1px dashed rgb(0, 0, 0);
    width: 100%;
    background-color: cornflowerblue;
}

.list-container h4 {
    padding: 30px 0;
    text-align: left;
    color: #4453E7;
    font-weight: bold;
}

.list-container ul {
    list-style: none;
    width: 80%;
}

.list-container ul a {
    color: white;
    text-decoration: none;
    text-align: left;
    line-height: 30px;

}

.list-container ul a:hover {
    text-decoration: underline;
}
hr{
    margin:50px 0;
}
.end-footer{
    background-color: cadetblue;
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.end-footer .logo{
    border: 2px dashed black;
    width: auto;
    display: flex;
    align-items: center;
}

.end-footer .login{  
    border: 2px dashed black;
    width: auto;
}
