* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    min-height: 650px;
    padding-top: 20px;
    padding-bottom: 4px;
}
.nav-bar {
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
    display: flex;
}


.logo {
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    width: 20%;
    padding: .5rem;
}

.link {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;

}

.link a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 0 1rem;
}

.link a:hover, .list-box ul a:hover {
    text-decoration: underline;
}

.login{
    text-align: right;
    width: 20%;
}

button{
    font-size: 16px;
    padding: .5rem .8rem;
    border: none;
    border-radius: 20px;
}

.hero-section {
    max-width: 900px;
    min-height: 350px;
    margin: auto;
    padding: 50px;
    text-align: center;
}
.home-container{
    padding-top: 100px;
}
.hero-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    padding-bottom: 50px;
    color: white;
}

.hero-section p {
    color: white;
    font-size: 18px;
    line-height: 35px;
}

.home-buttons {
    margin-top: 25px;
}

.button{
    padding: .7rem 1rem;
    color: white;
}
.login-bt:first-of-type{
    background-color: white;
    color: #000000;
}
.download-bt:last-child, .end-footer .login-bt{
    background-color: #4453E7;
    color: white;
}
.download-bt:last-child:hover, .end-footer .login-bt:hover{
    background-color: #5B69ED;
    color: white;
}
.download-bt::before{
    content: "\2913";
    font-size: 16px;
    padding-right: .3rem;
}

.button:hover, .login-bt:nth-child(2):hover,
.white-bt:hover,.login-bt:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 16px 29px -15px #000000;
    -moz-box-shadow: 0px 16px 29px -15px #000000;
    -o-box-shadow: 0px 16px 29px -15px #000000;
    box-shadow: 0px 16px 29px -15px #000000;
}
.big-button{
    margin: 0 15px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
}
.white-bt{
    background-color:white;
    color: black;  
}
.white-bt:hover,.login-bt:hover{
    color: #4453E7;
}

.login-bt:nth-child(2){
    color: white;
    background-color: #23272A;
}

.login-bt:nth-child(2):hover {
    background-color: #323640;
}
.bgd-wave{
    min-height:50px;
    background-image: url('../img/wave.svg');
    filter: opacity(10%);
}
.bgd-wave:nth-of-type(2){
    rotate: 180deg;
}
section{
    padding: 150px 0;
}
section:nth-of-type(2),
section:last-of-type {
    background-color: #E5E5E5;;
}
.container{
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    display: flex;
}

.info-section img{
    background-repeat:no-repeat;
    background-size: cover;
    flex-grow: 1;
}

.description {
    padding: 4rem;
    align-self: center;
    color: #000000;
    width: 40%;
}
.description h2, .download-section h2{
    font-size: 45px;
}
.description p, .download-section p{
    padding-top: 2rem;
    line-height: 25px;
}

.download-section {
    flex-direction: column;
    min-height: 900px;
    color: #000000;
    text-align: center;
}
.end-section{
    width: 980px;
    margin: auto;
    text-align: center;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position:top;
}
.end-section h3{
    font-size: 25px;
    color: #000000;
    padding: 2rem;
}

footer {
    background-color: #23272A;
    padding: 25px 0;
}
.box{
    max-width: 1200px;
    height: 500px;
    margin: auto;
    display: flex;
    width: 70%;
}
.footer-section {
    padding-top: 30px;
    flex-grow: 3;
}
.footer-section h3{
    font-size: 25px;
    padding: 2rem 10rem 2rem 0;
    color: #5B69ED;
}
.footer-section img{
    width: 30px;
    height: 20px;
    margin-right:.5rem;
}
select{
    background: none;
    border: none;
    color: white;
}
.social-section{
    display: flex;
}
.social-section a img{
    filter: invert(91%) sepia(93%) saturate(34%) hue-rotate(254deg) brightness(105%) contrast(100%);
    width: 25px;
    margin-top: 20px;
    margin-right: 20px;
}
.list-box { 
    width: 100%;
}

.list-box h4 {
    padding: 50px 0 30px 0;
    text-align: left;
    color: #5B69ED;
    font-weight: bold;
}

.list-box ul {
    list-style: none;
    width: 80%;
}

.list-box ul a {
    color: white;
    text-decoration: none;
    text-align: left;
    line-height: 35px;

}

hr{
    margin:50px 0 0 0;
}
.end-footer{

    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.end-footer .logo{
    width: 20%;
    display: flex;
    align-items: center;
}

.end-footer .login{
    width: 20%;
}
